importFrom("grDevices", "as.graphicsAnnot", "grey", "palette",
             "xy.coords")
importFrom("graphics", "arrows", "axis", "barplot", "hist", "legend",
             "lines", "par", "plot.new", "plot.window", "plot.xy",
             "polygon", "rect", "text", "title")
importFrom("stats", "aggregate", "lm", "sd", "t.test")

export("barplot_with_errorbars",
       "barplot_xpos",
       "errorbars",
       "get_associated_values",
	"get_t_test_matrix",
	"multipleHistograms",
	"pie_with_errorbars",
	"plot_counts",
	"sd_mean",
	"significance_labels",
    "plot_dot_column",
    "barplot_dots",
    "change_diagram")
